.page-header {
    padding: 8px 16px;
    background: linear-gradient(to bottom, #1681c8, rgb(0, 128, 255));
    color: #fff;
}

@media (min-width: 1024px)
{
    .page-header {
        padding: 16px 48px;
    }
}